<div class="rounded-lg shadow-lg p-4 keep-all bg-white">
    <div class="flex flex-row mb-6">
        <a href="/confirmation" class="mr-2 px-6 py-2 bg-white text-black rounded-full shadow-md">Korea</a>
        <a href="/confirmation-global" class="px-6 py-2 bg-blue-500 text-white rounded-full shadow-md">World</a>
    </div>
    <div class="mb-4">
        <h3 class="w-full border-b border-gray-400 text-xl mb-2">World status</h3>
        <p class="ml-2">Last updated date : {{Date}}</p>
        <table class="table-auto" id="worldStateTable">
            <tr>
                <th class="px-4 py-2">Country</th>
                <th class="px-4 py-2">NewConfirmed</th>
                <th class="px-4 py-2">TotalConfirmed</th>
                <th class="px-4 py-2">NewDeaths</th>
                <th class="px-4 py-2">TotalDeaths</th>
                <th class="px-4 py-2">NewRecovered</th>
                <th class="px-4 py-2">TotalRecovered</th>
            </tr>
            {{#each Countries}}
                <tr>
                    <td class="border px-4 py-2">{{Country}}</td>
                    <td class="border px-4 py-2">{{NewConfirmed}}</td>
                    <td class="border px-4 py-2">{{TotalConfirmed}}</td>
                    <td class="border px-4 py-2">{{NewDeaths}}</td>
                    <td class="border px-4 py-2">{{TotalDeaths}}</td>
                    <td class="border px-4 py-2">{{NewRecovered}}</td>
                    <td class="border px-4 py-2">{{TotalRecovered}}</td>
                </tr>
            {{/each}}
        </table>
        <p class="ml-2">Data from <a class="text-blue-400" target="_blank" href="https://covid19api.com">COVID 19 API</a></p>
    </div>
</div>