<div class="rounded-lg shadow-lg p-4 keep-all bg-white">
    <div class="mb-4">
        <h3 class="w-full border-b border-gray-400 text-xl mb-2">Masks state</h3>
        <button class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
                onclick="onClicked()">
            Re-search
        </button>
        <p class="ml-2">
        <table class="table-auto" id="maskStateTable">
            <tr>
                <th class="px-4 py-2">Address</th>
                <th class="px-4 py-2">Store Name</th>
                <th class="px-4 py-2">Created at</th>
                <th class="px-4 py-2">Remain stat</th>
                <th class="px-4 py-2">Stock at</th>
                <th class="px-4 py-2">Type</th>
            </tr>
            {{#each stores}}
                <tr>
                    <td class="border px-4 py-2">{{addr}}</td>
                    <td class="border px-4 py-2">{{name}}</td>
                    <td class="border px-4 py-2">{{created_at}}</td>
                    <td class="border px-4 py-2">{{remain_stat}}</td>
                    <td class="border px-4 py-2">{{stock_at}}</td>
                    <td class="border px-4 py-2">{{type}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>
<script>
    function onClicked() {
        const date = new Date();
        document.cookie = `coordinate=;expires=${date.toUTCString()};path=/`
        window.location.href = '/masks'
    }
</script>